* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 240, 255);
    font-size: 'monospace';
}

#root {
    width: 100vw;
    height: 100vh;
}

#navbar ul,#navbar li{
    background-color: rgb(17, 84, 14) ;
}

#navbar ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    padding-left: 20px;
    align-items: baseline;
    gap: 20px;
    font-size: 1.1rem;
    
}

.head {
    width: 100vw;
}

form {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-inline: 20px;
}

.head-form a {
    text-decoration: none;
    color: black;
}

input[type="checkbox"],
input[type="radio"],
input[type="file"] {
    display: none;
}

input[type="color"] {
    width: 0.1px;
    height: 0.1px;
    visibility: hidden;
}

input+label,
select {
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}

select,
select+input {
    background-color: white;
    text-align: center;
}

input:checked+label {
    background-color: #D3E2FD;
}

input+label:hover {
    background-color: #D3E2FD;
}

.row2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.row2 label {
    padding-inline: 5px;
}

.row2 .selected-cell {
    width: 100px;
    text-align: center;
    background-color: white;

    margin-inline: 10px;
}

.row2 input {
    flex-grow: 1;
    margin-right: 10px;
    background-color: white;
    border: none;
    padding: 2px;
}

.container {
    overflow: scroll;
    height: 80%;
}

.header {
    width: fit-content;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header .cell {
    border: 0.1px solid #C4C7C5;
    min-width: 150px;
    padding: 5px 2px;
    text-align: center;
    font-size: 0.8rem;
}

.header .first-cell {
    min-width: 50px;
    border: 0.1px solid #C4C7C5;
    position: sticky;
    left: 0;
}

.row {
    display: flex;
    width: fit-content;
}

.row .first-cell {
    min-width: 50px;
    border: 0.1px solid #C4C7C5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    min-height: 1.2rem;
    position: sticky;
    left: 0;
    z-index: 2;
}

.row .cell {
    border: 0.1px solid #C4C7C5;
    min-width: 150px;
    padding-inline: 2px;
    font-size: 14px;
}

.row .cell:focus {
    outline: none;
    height: auto;
}

.row .active-cell {
    border: 2px solid #1B72E8 !important;
}



.foot {
    background-color: rgb(250, 240, 255);
}

.foot-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 50px;
}

.foot-form .material-icons {
    border-radius: 50%;
    background-color: green;
    cursor: pointer;
}

.foot-form input:checked+label {
    background-color: rgb(81, 177, 81);
    color: #ffff;
    border-radius: 5px;
    padding: 8px;
}